.viewport {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
}

iframe,
.linesContainer {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.linesContainer {
  z-index: 90;
  background-color: #fffbef;
}

.linesImg,
.content {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.linesImg {
  object-fit: cover;
}

.name {
  font-family: Isenheim;
  font-size: 4.5rem;
  position: fixed;
  margin: 0;
  text-transform: uppercase;
}

.description {
  position: fixed;
  margin: 0;
}

.content {
  z-index: 999;
}
