.mobile {
  display: none;
  position: fixed;
  overflow: auto;
  margin: 0 auto;
  width: 100vw;
}

.desktop {
  display: block;
}

@media only screen and (max-width: 767px) {
  .mobile {
    display: flex;
    top: var(--n-b-top_mobile);
    bottom: var(--n-b-bottom_mobile);
  }
  .desktop {
    display: none;
  }
}
