.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 251, 239, 1);
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: var(--n-b-top);
  bottom: var(--n-b-bottom);
  left: var(--n-b-left);
  right: var(--n-b-right);
  margin: 0 auto;
  font-size: 20px;
  /* background-color: blue; */
}

.title {
  font-family: Isenheim, 'Times New Roman';
  text-transform: uppercase;
  font-size: 70px;
  margin-bottom: 0px;
}

.pricing {
  list-style-type: none;
  width: 70%;
}

.pricing li {
  display: flex;
  justify-content: space-between;
  font-family: Isenheim, 'Times New Roman';
  font-size: 1.5rem;
  margin-bottom: 4vw;
}

.tier,
.price {
  white-space: nowrap;
  margin: 0px;
}

.dot {
  border-bottom: dotted 3px black;
  width: 100%;
  margin: 6px 2vw;
}
