.container {
  position: fixed;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  background: rgba(255, 251, 239, 1);
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: var(--n-b-top);
  bottom: var(--n-b-bottom);
  left: var(--n-b-left);
  right: var(--n-b-right);
  width: 60vw;
  margin: 0 auto;
  font-size: 20px;
}

.bunbun {
  position: fixed;
  z-index: -1;
}

.view p {
  width: 70%;
}

.logo {
  align-self: center;
  width: 60%;
  padding-left: calc(var(--n-b-left) / 2);
}
