.container,
.screen {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  /* placeholder color */
  background: rgba(217, 217, 217, 0.39);
  backdrop-filter: blur(20px);
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.container p {
  max-width: 60vw;
  font-size: 2rem;
}

.center {
  text-align: center;
}
.convo1 {
  position: fixed;
  top: 50px;
  left: 240px;
}
.convo2 {
  position: fixed;
  top: 350px;
  right: 80px;
}
.convo3 {
  position: fixed;
  top: 400px;
  left: 180px;
}
.convo4 {
  position: fixed;
  bottom: 60px;
  right: 130px;
}
.convoUnder {
  position: fixed;
  top: 50%;
  z-index: 1;
}
