.container {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.border {
  position: fixed;
  background-color: rgba(158, 169, 207, 0.2);
  backdrop-filter: blur(10px);
}

.borderTop,
.borderBottom {
  left: var(--n-b-left);
  right: var(--n-b-right);
}
.borderTop {
  height: var(--n-b-top);
  top: 0;
}
.borderBottom {
  height: var(--n-b-bottom);
  left: 0;
  right: 0;
  bottom: 0;
}

.borderLeft,
.borderRight {
  bottom: 0;
  top: 0;
}
.borderLeft {
  width: var(--n-b-left);
  left: 0;
}
.borderRight {
  width: var(--n-b-right);
  right: 0;
}
