.border {
  cursor: none;
  z-index: 1;
  position: fixed;
  background-color: rgba(158, 169, 207, 0.2);
  backdrop-filter: blur(10px);
}

.borderTop,
.borderBottom {
  left: var(--n-b-left);
  right: var(--n-b-right);
}
.borderTop {
  height: var(--n-b-top);
  top: 0;
}
.borderBottom {
  height: var(--n-b-bottom);
  left: 0;
  right: 0;
  bottom: 0;
}

.borderLeft,
.borderRight {
  bottom: 0;
  top: 0;
}
.borderLeft {
  width: var(--n-b-left);
  left: 0;
}
.borderRight {
  width: var(--n-b-right);
  right: 0;
}

.navContainer {
  cursor: none;
  width: var(--n-b-right);
  position: fixed;
  right: 0;
  bottom: calc(var(--n-b-bottom) + 2vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  /* TODO: Change to Cabinet Grotesk */
  font-family: 'Helvetica Neue';
  color: white;
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nav li {
  padding: 0 1vw;
  border: 2px solid transparent;
}

li:hover {
  border-radius: 5px;
  border: 2px solid black;
}
