.subTitle {
  font-family: Isenheim, 'Times New Roman';
  font-size: 35px;
  margin-bottom: -130px;
  margin-top: 45px;
  text-align: center;
}

.bg {
  position: fixed;
  width: 100vw;
  overflow: auto;
  margin: 0 auto;
  top: var(--n-b-top_mobile);
  bottom: var(--n-b-bottom_mobile);
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.photo-wrapper {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  position: relative;
}
.photo-wrapper:nth-child(3n + 1) {
  margin-right: 0;
}

.photo-wrapper:nth-child(n + 4) {
  margin-top: 20px;
}

.photo-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-description {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.photo-description p {
  margin: 0;
}
